
<div class="sidenav-container" [class.sidenav-is-mobile]="mobileQuery.matches">
<mat-toolbar  class="sidenav-toolbar" >
  <button   id="sideNavOpenMenubtn" style="margin-right: 10px;" mat-icon-button aria-label="Menu toogler" (click)="sidenav.toggle()">
    <mat-icon >menu</mat-icon>
  </button>
  <span appCloseSidenav [sideNav]="sidenav"   style="display: flex;flex-direction: row; width: 100%;">
    <a [routerLink]="['/']">
      <h1>My Store</h1>
    </a>

    <button style="margin-left: auto;" mat-button routerLink="/cart"  matBadge={{getCartLength()}} matBadgeColor="primary">
      <i class="material-icons">shopping_cart</i>Checkout
    </button>
  </span>
</mat-toolbar>

<mat-sidenav-container appCloseSidenav [sideNav]="sidenav" class="sidenav-sidenav-container ">
  <mat-sidenav [class.sidenav-menu-mobile]="mobileQuery.matches" class="sidenav-menu"  [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56" #sidenav mode="over" [(opened)]="opened" >
    <mat-nav-list >
      <a *ngFor="let route of routes" mat-list-item class="sidenav-link" [routerLink]="[route.link]" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="router-link-active" >
        <mat-icon *ngIf="route.icon" matListIcon>{{route.icon}}</mat-icon>
        {{route.name}}
      </a>
       


    </mat-nav-list>    
  </mat-sidenav>

  <mat-sidenav-content >

      <ng-content></ng-content >

    
  </mat-sidenav-content>
</mat-sidenav-container>
</div>




<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
