
<mat-toolbar  >
  <button   id="sideNavOpenMenubtn" style="margin-right: 10px;" mat-icon-button aria-label="Menu toogler" (click)="sidenav.toggle()">
    <mat-icon >menu</mat-icon>
  </button>
  <span appCloseSidenav [sideNav]="sidenav"   style="display: flex;flex-direction: row; width: 100%;">
    <a [routerLink]="['/']">
      <h1>My Store</h1>
    </a>

    <button style="margin-left: auto;" mat-button routerLink="/cart"  matBadge={{getCartLength()}} matBadgeColor="primary">
      <i class="material-icons">shopping_cart</i>Checkout
    </button>
  </span>
</mat-toolbar>

<mat-sidenav-container appCloseSidenav [sideNav]="sidenav" class="sideNav-content">
  <mat-sidenav  class="sideNav-menu" #sidenav mode="over" [(opened)]="opened" style="">
    
    <a [routerLink]="['/']" routerLinkActive="router-link-active" >Home</a>
    <br>
    <a [routerLink]="['/cart']" routerLinkActive="router-link-active" >Cart</a>
  </mat-sidenav>

  <mat-sidenav-content >

      <ng-content></ng-content >

    
  </mat-sidenav-content>
</mat-sidenav-container>





<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
